  #base_h1 {
    margin: 0;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }

  body{
    margin: 0;
    font-family: "Helvetica Neue", arial, sans-serif; font-size: 16px;
  }

  body > header {
    background-color: darkslategrey;
    color: wheat;
  }

  nav > ul {
    list-style: none;
    color: wheat;
  }

  nav > ul > a {
    color: white;
  }


  .question {
    border: 2px solid #ccc;
    width: 300px;
    min-height: 32px;
    padding: 8px;
    display: flex;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .correct_answer {
    border: 2px solid #ccc;
    width: 250px;
    min-height: 32px;
    padding: 8px;
    display: flex;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .alt_ans_1 {
    border: 2px solid #ccc;
    width: 250px;
    min-height: 32px;
    padding: 8px;
    display: flex;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .alt_ans_2 {
    border: 2px solid #ccc;
    width: 250px;
    min-height: 32px;
    padding: 8px;
    display: flex;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .alt_ans_3 {
    border: 2px solid #ccc;
    width: 250px;
    min-height: 32px;
    padding: 8px;
    display: flex;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .difficulty {
    border: 2px solid #ccc;
    width: 80px;
    min-height: 32px;
    padding: 8px;
    display: flex;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .topic {
    border: 2px solid #ccc;
    width: 150px;
    min-height: 32px;
    padding: 8px;
    display: flex;
    line-height: 20px;
    margin-bottom: 12px;
  }


  body > footer {
    background-color: darkslategrey;
  }

  body > footer > p {
    padding: 16px;
    color: wheat;
    text-align: center;
  }