  #base_h1 {
    margin: 0;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }

  body{
    margin: 0;
    font-family: "Helvetica Neue", arial, sans-serif; font-size: 16px;
  }

  body > header {
    background-color: darkslategray;
    color: wheat;
  }


/* ***************************************************************************** */
                                      /* NAVBAR */
/* ***************************************************************************** */
  

  .menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  nav > ul {
    list-style: none;
    color: wheat;
  }

  nav > ul >li {

  }

  nav > ul > li > a {
    color: white;
  }


  #index_h2 {
    margin: 0;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }

/* ***************************************************************************** */
                                  /* ALL QUESTIONS */
/* ***************************************************************************** */

  .content {
    display: grid;
  }

  .question {
    border: 2px solid #ccc;
    width: 300px;
    min-height: 32px;
    padding: 8px;
    display: flex;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .correct_answer {
    border: 2px solid #ccc;
    width: 250px;
    min-height: 32px;
    padding: 8px;
    display: flex;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .alt_ans_1 {
    border: 2px solid #ccc;
    width: 250px;
    min-height: 32px;
    padding: 8px;
    display: flex;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .alt_ans_2 {
    border: 2px solid #ccc;
    width: 250px;
    min-height: 32px;
    padding: 8px;
    display: flex;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .alt_ans_3 {
    border: 2px solid #ccc;
    width: 250px;
    min-height: 32px;
    padding: 8px;
    display: flex;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .difficulty {
    border: 2px solid #ccc;
    width: 80px;
    min-height: 32px;
    padding: 8px;
    display: flex;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .topic {
    border: 2px solid #ccc;
    width: 150px;
    min-height: 32px;
    padding: 8px;
    display: flex;
    line-height: 20px;
    margin-bottom: 12px;
  }

/* ***************************************************************************** */
                                      /* FOOTER */
/* ***************************************************************************** */

  body > footer {
    background-color: darkslategrey;
  }

  body > footer > ul {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: wheat;
  }

  body > footer > ul > li {
    padding: 16px;
  }

  body > footer > ul > li > a{
    color: white;
  }