  /* ***************************************************************************** */
                                    /* HEAD */
  /* ***************************************************************************** */
  
  body{
    margin: 0;
    font-family: Cambria, Cochin, serif;
    font-size: 16px;
  }

  #base_h1 {
    margin: 0;
    padding: 8px;
    font-family: Cambria, Cochin, serif;
    text-align: center;
  }

/* ***************************************************************************** */
                                  /* GRID LAYOUT */
/* ***************************************************************************** */

  body {
    display: grid;
    grid-template-areas:
      'header header'
      'nav main'
      'footer footer';
    grid-template-columns: 15fr 85fr;
    }

  body > header {
    background-color: darkslategray;
    color: wheat;
    grid-area: header;

  }

  body > nav {
    background-color: darkslateblue;
    grid-area: nav;
  }

  body > main {
    background-color: deepskyblue;
    grid-area: main;
  }

  body > footer {
    background-color: darkslategrey;
    grid-area: footer;
  }

  /* ***************************************************************************** */
                                      /* HEADER */
  /* ***************************************************************************** */

  body > header {
    margin: 0;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }




  /* ***************************************************************************** */
                                      /* NAVBAR */
  /* ***************************************************************************** */
  
body > nav > ul{
  float: left;
  margin-right: 10px;
  position: relative;
  margin-bottom: 62px;
}

#menuwrapper > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menuwrapper > ul > li {
  background-color: wheat;
  border-bottom: solid 1px white;
  width: 150px;
  cursor: pointer;
}

#menuwrapper > ul > li:hover {
  background-color: lightgray;
  position: relative;
}

#menuwrapper ul > li > a {
  padding: 5px 15px;
  color: #124C78;
  display: inline-block;
  text-decoration: none;
}

#menuwrapper > ul > li > ul {
  position: absolute;
  display: none;
}

/* ***************************************************************************** */
                                      /* FOOTER */
/* ***************************************************************************** */

/* body > footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0;
} */

body > footer > ul {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: wheat;
}

body > footer > ul > li {
  padding: 16px;
}

body > footer > ul > li > a{
  color: white;
}



/* ***************************************************************************** */
                                  /* index.html */
/* ***************************************************************************** */

body > main {
  text-align: center;
}




/* ***************************************************************************** */
                                  /* about.html */
/* ***************************************************************************** */

body > main {
  text-align: center;
}




/* ***************************************************************************** */
                                  /* contact.html */
/* ***************************************************************************** */

body > main {
  text-align: center;
}




/* ***************************************************************************** */
                                  /* privacy.html */
/* ***************************************************************************** */

body > main {
  text-align: center;
}




/* ***************************************************************************** */
                                  /* ALL QUESTIONS */
/* ***************************************************************************** */

.content {
  display: grid;
}

.question {
  border: 2px solid #ccc;
  width: 300px;
  min-height: 32px;
  padding: 8px;
  display: flex;
  line-height: 20px;
  margin-bottom: 12px;
}

.correct_answer {
  border: 2px solid #ccc;
  width: 250px;
  min-height: 32px;
  padding: 8px;
  display: flex;
  line-height: 20px;
  margin-bottom: 12px;
}

.alt_ans_1 {
  border: 2px solid #ccc;
  width: 250px;
  min-height: 32px;
  padding: 8px;
  display: flex;
  line-height: 20px;
  margin-bottom: 12px;
}

.alt_ans_2 {
  border: 2px solid #ccc;
  width: 250px;
  min-height: 32px;
  padding: 8px;
  display: flex;
  line-height: 20px;
  margin-bottom: 12px;
}

.alt_ans_3 {
  border: 2px solid #ccc;
  width: 250px;
  min-height: 32px;
  padding: 8px;
  display: flex;
  line-height: 20px;
  margin-bottom: 12px;
}

.difficulty {
  border: 2px solid #ccc;
  width: 80px;
  min-height: 32px;
  padding: 8px;
  display: flex;
  line-height: 20px;
  margin-bottom: 12px;
}

.topic {
  border: 2px solid #ccc;
  width: 150px;
  min-height: 32px;
  padding: 8px;
  display: flex;
  line-height: 20px;
  margin-bottom: 12px;
}