{% extends 'base.html' %}

{%  block content  %}

<h2>Quizzes</h2>

{%  for quiz in all_quizzes  %}
<div class="id">
    <div class="content">
        {{  quiz.date  }}
    </div>
</div>
{%  endfor  %}
<br>

{%  for quiz in all_quizzes  %}
<div class="id">
    <div class="content">
        {{  quiz.number_of_questions  }}
    </div>
</div>
{%  endfor  %}
<br>

{%  for quiz in all_quizzes  %}
<div class="id">
    <div class="content">
        {{  quiz.difficulty.level  }}
    </div>
</div>
{%  endfor  %}
<br>

{%  for quiz in all_quizzes  %}
<div class="id">
    <div class="content">
        {{  quiz.topic.name  }}
    </div>
</div>
{%  endfor  %}
<br>

{%  for quiz in all_quizzes  %}
<div class="id">
    <div class="content">
        {{  quiz.question_list  }}
    </div>
{%  endfor  %}
<br>

{%  for quiz in all_quizzes  %}
<div>
    <form action="/quizzes/{{  quiz.id  }}" method="GET">
        <input type="submit" class="show" value="Select Quiz">
    </form>
</div>
{%  endfor  %}
<br>

{%  for quiz in all_quizzes  %}
<div>
    <form action="/quizzes/{{  quiz.id  }}/delete" method="POST">
        <input type="submit" class="delete" value="Delete Quiz">
    </form>
</div>
{%  endfor  %}
<br>

</div>

{%  endblock  %}