{%  extends 'base.html'  %}

{%  block content  %}

<h2>Generate A New Quiz!</h2>

<form action="/quizzes" method="POST">

    <div>

        <label for="date">Date:</label>
        <input type="text" id="date" name="date">
        <br>


        <label for="number_of_questions">Number of Questions:</label>
        <select name="number_of_questions" id="number_of_questions">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <br>


        <label for="difficulty">Difficulty:</label>
        <select name="difficulty" id="difficulty_id">
            {%  for difficulty in all_difficulties  %}
            <option value="{{  difficulty.id  }}">{{  difficulty.level  }}</option>
            {%  endfor  %}
        </select>
        <br>


        <label for="topic">Topic:</label>
        <select name="topic" id="topic_id">
            {%  for topic in all_topics  %}
            <option value="{{  topic.id  }}">{{  topic.name  }}</option>
            {%  endfor  %}
        </select>
        <br>

        <input type="submit">

    </div>

</form>

{%  endblock  %}