{%  extends 'base.html'  %}

{%  block content  %}

<h2>Make A New Quiz!</h2>

<form action="/quizzes" method="POST">

    <div>

        <label for="date">Quiz Date:</label>
        <input type="date" id="date" name="date">
        <br>


        <label for="number_of_questions">Number of Questions:</label>
        <select name="number_of_questions" id="number_of_questions">
            <option value="please_select" selected disabled>Please Select</option>
            <option value="1">5</option>
            <option value="2">10</option>
            <option value="3">15</option>
            <option value="4">20</option>
        </select>
        <br>


        <label for="difficulty">Difficulty Level:</label>
        <select name="difficulty" id="difficulty_id">
            {%  for difficulty in all_difficulties  %}
            <option value="{{  difficulty.id  }}">{{  difficulty.level  }}</option>
            {%  endfor  %}
        </select>
        <br>


        <label for="topic">Specialist Subject:</label>
        <select name="topic" id="topic_id">
            {%  for topic in all_topics  %}
            <option value="{{  topic.id  }}">{{  topic.name  }}</option>
            {%  endfor  %}
        </select>
        <br>

        <input type="submit">

    </div>

</form>

{%  endblock  %}