{%  extends 'base.html'  %}

{%  block content  %}

<div>
    <hr>
    <p>Quiz Date: {{  quiz.date  }}</p>
    <br>
    
    <p>Number of Questions: {{  quiz.number_of_questions  }}</p>
    <br>

    <p>Difficulty Level: {{  quiz.difficulty.level  }}</p>
    <br>

    <p>Quiz Topic: {{  quiz.topic.name  }}</p>
    <br>

    {%  for the_question in the_question_list  %}
    <div class="the_question">
        <div class="content">
            {{  quiz.the_question  }}
        </div>
    </div>
    {%  endfor  %}
    <br>

    <form action="/quizzes/{{  quiz.id  }}/edit" method="GET">
        <input type="submit" class="edit" value="Edit Quiz">
    </form>
    <hr>
</div>

{%  endblock  %}

