<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Pub Quiz Management</title>
</head>
<body>
    <header>
        <h1 id="base_h1">Pub Quiz Management</h1>
        <hr>
        <nav>
            <ul class="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <br>
                Questions
                <li>
                    <a href="/questions">Question Archive</a>
                </li>
                <li>
                    <a href="/questions/new">Add A Question</a>
                </li>
                <br>
                Main Question Topics
                <li>
                    <a href="/topics">All Topics</a>
                </li>
                <li>
                    <a href="/topics/new">Add A Topic</a>
                </li>
                <br>
                User Reference Topics
                <li>
                    <a href="/user_topics">All User Reference Topics</a>
                </li>
                <li>
                    <a href="/user_topics/new">Add a User Reference Topic</a>
                </li>
                <br>
                Quizzes
                <li>
                    <a href="/quizzes">All Quizzes</a>
                </li>
                <li>
                    <a href="/quizzes/new">Make A Quiz</a>
                </li>
                <br>
            </ul>
        </nav>
        <hr>

    </header>

    <div class="container">
        {%  block content  %}
        {%  endblock  %}
    </div>

    <footer>
        <hr>
        <p>footer goes here</p>
        <hr>
    </footer>
</body>
</html>