{% extends 'base.html' %}

{%  block content  %}

<h2>Revise a Question</h2>

<form action="/questions/{{  question.id  }}" method="POST">

    <div>

        <label for="the_question">Question:</label>
        <input type="text" id="the_question" name="the_question" value="{{  question.the_question  }}">
        <br>

        <label for="correct_answer">Correct Answer:</label>
        <input type="text" id="correct_answer" name="correct_answer" value="{{  question.correct_answer  }}">
        <br>

        <label for="alt_ans_1">Alternate Answer 1:</label>
        <input type="text" id="alt_ans_1" name="alt_ans_1" value="{{  question.alt_ans_1  }}">
        <br>

        <label for="alt_ans_2">Alternate Answer 2:</label>
        <input type="text" id="alt_ans_2" name="alt_ans_2" value="{{  question.alt_ans_2  }}">
        <br>

        <label for="alt_ans_3">Alternate Answer 3:</label>
        <input type="text" id="alt_ans_3" name="alt_ans_3" value="{{  question.alt_ans_3  }}">
        <br>

        <label for="difficulty_id">Difficulty:</label>
        <select id="difficulty_id" name="difficulty_id">
            <option value="{{  question.difficulty.id  }}">{{  question.difficulty.level  }}</option>
            {%  for difficulty in all_difficulties  %}
            {% if question.difficulty != difficulty.level %}
                <option value="{{  difficulty.id  }}">{{  difficulty.level  }}</option>
            {% endif %}
            {%  endfor  %}
        </select>
        <br>

        <label for="topic_id">Topic:</label>
        <select id="topic_id" name="topic_id">
            <option value="{{  question.topic.id  }}">{{  question.topic.name  }}</option>
            {%  for topic in all_topics  %}
            {%  if question.topic != topic.name  %}
                <option value="{{  topic.id  }}">{{  topic.name  }}</option>
            {%  endif  %}
            {%  endfor  %}
        </select>
        <br>

        <input type="submit" class="edit" value="Save Edits">

    </div>

</form>


{%  endblock  %}