{% extends 'base.html' %}

{%  block content  %}


<h2>Questions</h2>

{%  for question in all_questions  %}
<div class="question">
    <div class="content">
        {{  question.the_question  }}
    </div>
</div>
{%  endfor  %}
<br>

{%  for question in all_questions  %}
<div class="correct_answer">
    <div class="content">
        {{  question.correct_answer  }}
    </div>
</div>
{%  endfor  %}
<br>

{%  for question in all_questions  %}
<div class="alt_ans_1">
    <div class="content">
        {{  question.alt_ans_1  }}
    </div>
</div>
{%  endfor  %}
<br>

{%  for question in all_questions  %}
<div class="alt_ans_2">
    <div class="content">
        {{  question.alt_ans_2  }}
    </div>
</div>
{%  endfor  %}
<br>

{%  for question in all_questions  %}
<div class="alt_ans_3">
    <div class="content">
        {{  question.alt_ans_3  }}
    </div>
</div>
{%  endfor  %}
<br>

{%  for question in all_questions  %}
<div class="difficulty">
    <div class="content">
        {{  question.difficulty.level  }}
    </div>
</div>
{%  endfor  %}
<br>

{%  for question in all_questions  %}
<div class="topic">
    <div class="content">
        {{  question.topic.name  }}
    </div>
</div>
{%  endfor  %}
<br>

{%  for question in all_questions  %}
<div class="user_topic">
    <div class="content">
        {{  question.user_topic.name  }}
    </div>
</div>
{%  endfor  %}
<br>

{%  for question in all_questions  %}
<div>
    <form action="/questions/{{  question.id  }}" method="GET">
        <input type="submit" class="show" value="Select Question">
    </form>
</div>
{%  endfor  %}
<br>

{%  for question in all_questions  %}
<div>
    <form action="/questions/{{  question.id  }}/delete" method="POST">
        <input type="submit" class="delete" value="Delete Question">
    </form>
</div>
{%  endfor  %}
<br>

{%  endblock  %}