{%  extends 'base.html'  %}

{%  block content  %}

<h2>Add a question to the archive.</h2>

All questions must be multiple choice.
<br>
You must put answers which are incorrect into the alternate answer fields.
<br>
<br>
<hr>
<br>
<form action="/questions" method="POST">

    <div>

        <label for="the_question">The Question:</label>
        <input type="text" id="the_question" name="the_question">
        <br>

        <label for="correct_answer">The Correct Answer:</label>
        <input type="text" id="correct_answer" name="correct_answer">
        <br>

        <label for="alt_ans_1">Alternate Answer 1:</label>
        <input type="text" id="alt_ans_1" name="alt_ans_1">
        <br>

        <label for="alt_ans_2">Alternate Answer 2:</label>
        <input type="text" id="alt_ans_2" name="alt_ans_2">
        <br>

        <label for="alt_ans_3">Alternate Answer 3:</label>
        <input type="text" id="alt_ans_3" name="alt_ans_3">
        <br>

        <label for="difficulty">Difficulty:</label>
        <select name="difficulty" id="difficulty_id">
            <option selected disabled>--Select--</option>
            {%  for difficulty in all_difficulties  %}
            <option value="{{  difficulty.id  }}">{{  difficulty.level  }}</option>
            {%  endfor  %}
        </select>
        <br>

        <label for="topic">Topic:</label>
        <select name="topic" id="topic_id">
            <option selected disabled>--Select--</option>
            {%  for topic in all_topics  %}
            <option value="{{  topic.id  }}">{{  topic.name  }}</option>
            {%  endfor  %}
        </select>
        <br>

        <label for="user_topic">User Topic:</label>
        <select name="user_topic" id="user_topic_id">
            <option selected disabled>--Select--</option>
            {%  for user_topic in all_user_topics  %}
            <option value="{{  user_topic.id  }}">{{  user_topic.name  }}</option>
            {%  endfor  %}
        </select>
        <br>

        <input type="submit" class="create" value="Create Question">

    </div>

</form>

{%  endblock  %}